<% provide(:title, '拠点情報') %>
<h1>拠点一覧</h1>

<div>
  <table class= "table table-bordered table-condensed bace-table">
    <tr bgcolor="#f5f5f5">
      <td></td>
      <td></td>
      <td>拠点番号</td>
      <td>拠点名</td>
      <td>拠点種類</td>
    </tr>
    <% @baces.each do |bace| %>
    <tr>
      <td align="left">
        <%= link_to "修正", "#", class: "btn btn-primary btn btn-bace_edit" %>
      </td>
           
      <td>
        <%= link_to "削除", bace, method: :delete,
              data: { confirm: "本当に削除してよろしいですか？",
                      cancel: "キャンセル",
                      commit: "削除"}, 
                      title: "#{bace.bace_name}のデータを削除します",
                      class: "btn btn-primary" %>
      </td>
      <td><%= bace.bace_number %></td>
      <td><%= bace.bace_name %></td>
      <td><%= bace.bace_type %></td>
    </tr>
    <% end %>
  </table>
  <%= render 'new' %>
</div>